<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Ecomm</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
        <li class='dropdown-button' data-activates='categories'><a href="#">Categories</a></li>
        <ul id='categories' class='dropdown-content'>
          <% for (var i = 0; i < categories.length; i ++) { %>
            <li><a href="/categories/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
          <% } %>
        </ul>

        <% if(!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        <% } else { %>
          <li><a href="/profile"><%= user.profile.name %></a></li>
          <li><a href="/cart"><i class="material-icons">shopping_cart</i> <span class="new badge cart-badge" data-badge-caption="items"><%= cart %></span></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li class='dropdown-button' data-activates='categories-sidenav'><a href="#">Categories</a></li>
        <ul id='categories-sidenav' class='dropdown-content'>
          <% for (var i = 0; i < categories.length; i ++) { %>
            <li><a href="/categories/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
          <% } %>
        </ul>
        <% if(!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        <% } else { %>
          <li><a href="/profile"><%= user.profile.name %></a></li>
          <li><a href="/cart"><i class="material-icons">shopping_cart</i> <span class="new badge"><%= cart %></span></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  <nav class="nav-search">
      <div class="nav-wrapper">
          <form method="post" action="/search">
            <div class="input-field nav-search">
              <input id="search" type="search" name="query" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
      </div>
  </nav>